files:
  "/etc/docker/daemon.json":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      {
        "auths": {
          "https://index.docker.io/v1/": {
            "username": "Solenja",
            "password": "Agenobarb"
          }
        }
      }
commands:
  restart_docker:
    command: "service docker restart"